// Here you can add other styles
.list-toggler {
  position: fixed;
    bottom: 40px;
    right: 40px;
    background: #1abc9c;
    color: #ffffff;
    width: 70px;
}

// .px-3 {
//   padding-right: 0% !important;
//   padding-left: 0% !important;
// }

.col-12 {
  padding: 1px 2px  !important;
}

.container-lg {
  padding: 0% !important;
}

.table-container {
  padding: 0% !important;
}

td {
padding: 10px 4px;
border-bottom: 1px solid #e6e6e6;
}

th {
  padding: 10px 4px;
  border-bottom: 2px solid;
}
.card-body {
  padding: 4px;
}

.form-label {
  margin-bottom: 0px;
}